<link
  href="https://cdn.jsdelivr.net/npm/remixicon@4.4.0/fonts/remixicon.css"
  rel="stylesheet"
>

<section class="ze-password-page">
  {% if section.settings.logo != blank %}
    <!-- Logo sart here -->
    <div class="ze-password-logo-block">
      <img
        class="ze-password-logo-img"
        src="{{ section.settings.logo | image_url }}"
        alt="logo"
        width=""
        height=""
      >
    </div>
    <!-- Logo end here -->
  {% endif %}
  <!-- background start here -->
  <div class="ze-password__backgrounds" style="opacity: 0.{{ section.settings.bg__overly }}; ">
    {% if section.settings.visible__video__bg %}
      <video
        autoplay
        muted
        loop
        playsinline
        class="ze-background-video"
        id="ze-mobile_video"
      >
        <source src="{{section.settings.mobile_video.sources[1].url}} " type="video/mp4">
      </video>

      <video
        autoplay
        muted
        loop
        playsinline
        class="ze-background-video"
        id="ze-desktop_video"
      >
        <source src="{{section.settings.desktop_video.sources[1].url}}" type="video/mp4">
      </video>
    {% else %}
      {% if section.settings.desktop_bg__image != blank %}
        <img
          id="ze-desktop-bg-image"
          class="ze-background-image"
          src="{{ section.settings.desktop_bg__image | image_url }}"
          alt=""
          width=""
          height=""
        >
      {% endif %}

      {% if section.settings.mobile_bg__image != blank %}
        <img
          id="ze-mobile-bg-image"
          class="ze-background-image"
          src="{{ section.settings.mobile_bg__image | image_url }}"
          alt=""
          width=""
          height=""
        >
      {% endif %}
    {% endif %}
  </div>
  <!-- background end here -->

  <!-- contents start here -->
  <div class="ze-password-contens">
    <!-- Passowrd Block Start Here -->
    <div class="ze-password">
      <a href="#" class="ze-password-btn"> <i class="ri-git-repository-private-line"></i> ENTER USING Password </a>

      <div class="ze-password-form">
        <form
          method="post"
          action="/password"
          id="login_form"
          accept-charset="UTF-8"
          class="storefront-password-form"
        >
          <input
            type="hidden"
            name="form_type"
            value="storefront_password"

          ><input type="hidden" name="utf8" value="✓">

          <p>Enter Store Using Password:</p>
          <div>
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
            >
            <input type="submit" value="Enter">
          </div>
        </form>

        <span class="ze-password-form--close"></span>
      </div>
    </div>
    <!-- Passowrd Block End Here -->

    {% if section.settings.timer__visible == true %}
      <!-- countdown timer start here -->
      <div class="countdown__timer__wrapper">
        <div class="countdown">
          <div class="timer">
            <div class="days">
              <span id="days" class="timer__item">00</span>
              <span class="timer__tittle">Days</span>
            </div>
            <div class="clone">:</div>
            <div class="hours">
              <span id="hours" class="timer__item">00</span>
              <span class="timer__tittle">Hours</span>
            </div>
            <div class="clone">:</div>
            <div class="minutes">
              <span id="minutes" class="timer__item">00</span>
              <span class="timer__tittle">Minutes</span>
            </div>
            <div class="clone">:</div>
            <div class="seconds">
              <span id="seconds" class="timer__item">00</span>
              <span class="timer__tittle">Seconds</span>
            </div>
          </div>
        </div>
      </div>
      <!-- countdown timer start here -->
    {% endif %}

    {% comment %} signup content start here {% endcomment %}
    <div class="ze-password-form-block">
      {% if section.settings.liquid != blank %}
        {{ section.settings.liquid }}
      {%- else -%}
        <!-- Password Sign Up form start here -->
        {% form 'customer' %}
          {{ form.errors | default_errors }}
          <div class="input-group row">
            <i class=" emailIcon ri-mail-line"></i>

            <input type="hidden" name="customer[accepts_marketing]" value="true">
            <input type="hidden" name="contact[tags]" value="newsletter">

            <input class="ze-password-email" type="email" name="contact[email]" placeholder="Enter Email" required>

            <button class="ze-password-submit btn--primary" type="submit">
              <span>Submit </span>
              <i class="ri-arrow-right-line"></i>
            </button>
          </div>
          {% if form.posted_successfully? %}
            <p class="ze-form-success-message">Thnaks for subscribe, we will get in touch soon</p>
          {% endif %}
        {% endform %}
        <!-- Password Sign Up form end here -->
      {% endif %}
    </div>
    {% comment %} signup content end here {% endcomment %}
  </div>
  <!-- contents end here -->

  {% comment %} Footer section start here {% endcomment %}
  <footer class="ze-password-footer">
    <h2 class="ze-password-footer-heading">
      Mushrooms can provide the missing links in our health, wellness, and longevity
    </h2>
  </footer>
</section>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    function countdown(dateEnd) {
      var timer, days, hours, minutes, seconds;

      dateEnd = new Date(dateEnd);
      dateEnd = dateEnd.getTime();

      if (isNaN(dateEnd)) {
        return;
      }

      timer = setInterval(calculate, 1000);

      function calculate() {
        var dateStart = new Date();
        var dateStart = new Date(
          dateStart.getUTCFullYear(), //getFullYear()
          dateStart.getUTCMonth(), //getMonth()
          dateStart.getUTCDate(), //getDate()
          dateStart.getUTCHours(), //getHours()
          dateStart.getUTCMinutes(), //getMinutes()
          dateStart.getUTCSeconds()
        ); //getSeconds()
        var timeRemaining = parseInt((dateEnd - dateStart.getTime()) / 1000);

        if (timeRemaining >= 0) {
          days = parseInt(timeRemaining / 86400);
          timeRemaining = timeRemaining % 86400;
          hours = parseInt(timeRemaining / 3600);
          timeRemaining = timeRemaining % 3600;
          minutes = parseInt(timeRemaining / 60);
          timeRemaining = timeRemaining % 60;
          seconds = parseInt(timeRemaining);

          document.getElementById('days').innerHTML = parseInt(days, 10);
          document.getElementById('hours').innerHTML = ('0' + hours).slice(-2);
          document.getElementById('minutes').innerHTML = ('0' + minutes).slice(-2);
          document.getElementById('seconds').innerHTML = ('0' + seconds).slice(-2);
        } else {
          return;
        }
      }

      function display(days, hours, minutes, seconds) {}
    }
    countdown('{{section.settings.end_date}} {{ section.settings.end_time }}');

    // password button js

    window.addEventListener('load', function () {
      document.querySelector('.ze-password-btn').addEventListener('click', function () {
        document.querySelector('.ze-password-btn').style.display = 'none';
        document.querySelector('.ze-password-form').style.display = 'flex';
      });
      document.querySelector('.ze-password-form--close').addEventListener('click', function () {
        document.querySelector('.ze-password-form').style.display = 'none';
        document.querySelector('.ze-password-btn').style.display = 'initial';
      });
      if (document.querySelectorAll('.errors').length) {
        document.querySelector('.ze-password-btn').click();
      }
    });
  });
</script>

{% schema %}
{
  "name": "ZE Password Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Upload your logo"
    },
    {
      "type": "header",
      "content": "Backgrounds Settings"
    },
    {
      "type": "checkbox",
      "id": "visible__video__bg",
      "label": "Visible Video Background",
      "default": true
    },
    {
      "type": "range",
      "id": "bg__overly",
      "label": "Background Overly",
      "default": 8,
      "min": 0,
      "max": 9,
      "step": 1
    },
    {
      "type": "header",
      "content": "Desktop Background Video"
    },
    {
      "type": "video",
      "id": "desktop_video",
      "label": "Upload your video"
    },
    {
      "type": "header",
      "content": "Mobile Background Video"
    },
    {
      "type": "video",
      "id": "mobile_video",
      "label": "Upload your video"
    },
    {
      "type": "header",
      "content": "Dekstop Background Image"
    },
    {
      "type": "image_picker",
      "id": "desktop_bg__image",
      "label": "Background Image"
    },
    {
      "type": "header",
      "content": "Mobile Background Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_bg__image",
      "label": "Background Image"
    },
    {
      "type": "checkbox",
      "id": "timer__visible",
      "label": "Visible Cuntdown Timer",
      "default": true
    },
    {
      "type": "text",
      "id": "end_date",
      "label": "Countdown End Date",
      "default": "09/30/2024",
      "info": "MM/DD/YYYY"
    },
    {
      "type": "text",
      "id": "end_time",
      "label": "Countdown End Time",
      "default": "03:14:07 AM",
      "info": "HH/MM/SS AM/PM"
    },
    {
      "type": "liquid",
      "id": "liquid",
      "label": "External Form Code"
    }
  ],
  "presets": [
    {
      "name": "ZE Password Section"
    }
  ]
}
{% endschema %}
